# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
env/
ENV/
myenv/
venv/
.env/
.venv/
*.venv/
**/venv/
**/myenv/
**/env/

# Ignore data files

*.tsv
*.data
*.dat
*.npz
*.npy
*.h5
*.hdf5

# Ignore model files (SAUF dans le dossier model/)
*.ckpt
*.pth
*.pt
*.pb
*.joblib
*.onnx
# *.pkl  ← COMMENTÉ ou supprimé !

# Mais permettre les modèles nécessaires
!ml/model/*.pkl

# ignore model generated results
results-model-2025/*.json

# Ignore logs and outputs
*.log
*.out

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
*.sublime-workspace